html {
	height: 100%
}
body {
	/* background-color: black; */
	/* color: white; */
	background-color: #CCCCCC;
	color: black;
	display: flex;
	flex-direction: row;
	margin: 0px;
	height: 100%
}
#logo {
	background-image: url('abstract.jpg');
	width: 100%;
	height: 100px;
	background-position: center;
  /* Make the background image cover the area of the <div>, and clip the excess */
	background-size: auto;
}
nav {
	position: fixed;
	height: 100%;
	width: 125px;
	display: flex;
	flex-direction: column;
	/* justify-content: space-around; */
	text-align: center;
	background-color: #222222;
	padding: 0px;
	
}
nav a {
	display: block;
	color: white;
	text-decoration: none;
	padding: 15px;
}
nav a.current {
	background-color: black;
}
section {
	margin-left: 125px;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
header {
	background-color: black;
	width: 100%;
	min-height: 15%;
	height: 15%;
}
#content {
	width: 50%;
	margin-top: 50px;
}