body {
  display: flex;
  flex-direction: column;
  margin-left:  5%;
  margin-right: 5%;

  font-family: Montserrat, "Helvetica Neue", sans-serif;

}

#top_panel {
  display: flex;
  height: 80%;
  align-items: stretch;
  justify-content: space-between;
}


/*
#main_canvas {
  width:  1000;
  height: 450;
}
*/

#output_panel {
	width: 100%;
}

textarea {
	width: 100%;
	height: 90%;
	resize: none;
}

#screen {
  display: flex;
  margin-right: 10px;
  /*align-items: stretch;*/
}

#toolbox {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
#toolbox input {
  width: 10px;
}

#help {
  margin-top: 30px;
}

#help_commands {
  display: none;
}

#help_uncollapse {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}